@model MultiChannelTodo.Core.Front.Models.EnvModel

<div  role="main" ng-app="multiChannelToDo">

    <div class="jumbotron">
        <h1>
            <span class="glyphicon glyphicon-list-alt"></span> To Do List
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-controller="ToDoController">

                <img src="~/images/spinner.gif" class="spinner" ng-show="loading" />

                <div class="list-group">
                    <button class="list-group-item" id="list-group-item-{{item.Id}}" ng-repeat="item in items" ng-hide="{{item.Complete}}" ng-click="complete(item)">{{item.Text}}</button>
                </div>

                <form ng-submit="add()">
                    <div class="input-group">
                        <input id="Text" ng-model="itemText" type="text" class="form-control" placeholder="Task" /><span class="input-group-addon" id="basic-addon2">Add</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Application Environment</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Application Base Path</td>
                        <td>@(Model.DefaultPlatformServices.Application.ApplicationBasePath)</td>
                    </tr>
                    <tr>
                        <td>Application Name</td>
                        <td>@(Model.DefaultPlatformServices.Application.ApplicationName)</td>
                    </tr>
                    <tr>
                        <td>Application Version</td>
                        <td>@(Model.DefaultPlatformServices.Application.ApplicationVersion)</td>
                    </tr>
                    <tr>
                        <td>Runtime Framework</td>
                        <td>@(Model.DefaultPlatformServices.Application.RuntimeFramework.FullName)</td>
                    </tr>
                    <tr>
                        <td>Runtime Framework Version</td>
                        <td>@(Model.DefaultPlatformServices.Application.RuntimeFramework.Version.ToString())</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Runtime Environment</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Value</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Framework Description</td>
                            <td>@(Model.FrameworkDescription)</td>
                        </tr>
                        <tr>
                            <td>OS Architecture</td>
                            <td>@(Model.OsArchitecture)</td>
                        </tr>
                        <tr>
                            <td>OS Description</td>
                            <td>@(Model.OsDescription)</td>
                        </tr>
                        <tr>
                            <td>Processor Architecture</td>
                            <td>@(Model.ProcessArchitecture)</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Environment</h3>
        </div>
        <div class="panel-body">
            @Model.Options.Env
        </div>
    </div>

</div>
@section scripts
{
    <!-- AngularJS App -->
    <script type="text/javascript">
        var apiPath = "@Model.Options.ApiPath";
    </script>
    <script src="~/js/controllers/ToDoController.js" type="text/javascript"></script>
    <script src="~/js/services/ToDoService.js" type="text/javascript"></script>
}